li {
  list-style: none;
  border-bottom: 1px solid grey;
  padding: 10px 0px;
}
ul {
  padding: 0px;
}

.top {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.main {
  width: 100%;
  height: 500px;

  display: flex;
  text-align: center;
}

.main-movieList {
  width: 60%;
  overflow: scroll;
}

.main-will {
  width: 20%;
  background-color: #eee;
  overflow: scroll;
}

.main-saw {
  width: 20%;
  background-color: #eee;
  overflow: scroll;
}
